
/* main journal styles */
body {
  font-family:'Poppins', 'Titillium Web','Kodchasan',Arial, Helvetica, sans-serif;
  background-color: #EAEFD3;
}
h1 {
  margin: 30px auto;
  text-align: center;
  font-size: 50px;
  color:#292a46fd;
  font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
  border-bottom: solid 3px #292a46fd;
  width: 325px;
  border-radius: 30px;
}

/* entry field styles */
.journal__form {
  display: block;
  margin: 0 auto;
  width: 70vw;
  color:  #EAEFD3;
  background-color: #292a46fd;
  border-radius: 10px;
  padding: 15px;
}
/* flex container for whole form */
.journal__form--fields {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  width: 70vw;
  border: none;
  margin: 0 0;
  padding: 0;
}
/* form header */

legend.form--legend {
  color: #EAEFD3;
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
  margin: 0 auto;
}

.form-labelpair {
  margin: 15px 0 0 0;
  display: flex ;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  width: 70vw;
}
/* styling div pair to put smaller inputs in row at top */
.date-mood-pair {
  margin: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.date-mood-pair select {
  height: 20.5px;
}

.date-mood-pair label {
  margin: 0 7px 0 20px;
}

.form--textEntry{
  width: 40vw;
  height: 80px;
  margin-bottom: 5px;
}
.journal--button {
  margin: 5px 10px;
}
input.form--textEntry{
  width: 20vw;
  height: 20px;
  margin-bottom: 5px;
}

/* printed journal entry styles. */
.print--div {
  margin: 0 auto;
  width: 70vw;
}
.entryContainer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  border: solid 2px #292a46fd;
  border-radius: 10px;
  color: #292a46fd;
  width: 70vw;
  margin: 20px 0 5px 0;
  padding-top: 15px;
}

.entryContainer h3 {
  font-size: 18px;
  margin: 0px 0 5px 0;

}

.entryContainer h4 {
  font-size: 16px;
  margin: 0px;
}

.entryContainer p {
  padding: 20px;
}

.button--container {
  display: flex;
  justify-content: center;
}

